.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the container takes the full height of the viewport */
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto; /* Ensures footer sits at the bottom */
}
